<template>
    <section>
        <el-row>
            <div id="rank-list">
                <el-table
                        :data="rankList"
                        border>
                    <el-table-column
                            prop="userName"
                            :show-overflow-tooltip="true"
                            label="User"
                            align="center"
                            width="180"
                            :resizable="false">
                    </el-table-column>
                    <el-table-column
                            v-for="(item,index) in globalContext.abc_list"
                            v-if="index < problemsSum"
                            :prop="'c'+index"
                            :label="item"
                            align="center">
                        <template slot-scope="scope">
                            <div
                                    v-if="void 0 != scope.row['c'+index]"
                                    :class="scope.row['c'+index].is_ac ? (scope.row['c'+index].is_first_blood ? 'rank-cell first_blood' : 'rank-cell accept' ): 'rank-cell wa'">
                                <div v-if="scope.row['c'+index].is_ac && scope.row['c'+index].wrong_sum==0" style="height:11px;">
                                </div>
                                <div v-if="scope.row['c'+index].is_ac" style="height:22px;padding-top:3px;">
                                    {{ formatHour(scope.row['c'+index].ac_time - start_time) }}
                                </div>
                                <div v-else style="height:11px;">
                                </div>
                                <div v-if="scope.row['c'+index].wrong_sum>0" style="height:22px;padding-bottom:3px;font-size:10px;">
                                    (-{{ scope.row['c'+index].wrong_sum }})
                                </div>

                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-row>
    </section>
</template>
<script>

    export default {
        data() {
            return {
                rankList: [],
            }
        },
        methods: {
            formatHour(time) {
                const h = 1000*60*60;
                const m = 1000*60;
                const s = 1000;
                let ret = "";
                ret += Math.floor(time/h) + ":";
                time %= h;
                ret += Math.floor(time/m) + ":";
                time %= m;
                ret += Math.floor(time/s);
                return ret;
            },
            calRankList() {
                for (let uid in this.usersScoreInfo) {
                    let row = {
                        userName: this.participants[uid],
                    };
                    for (let idx in this.usersScoreInfo[uid]) {
                        // if (void 0 == this.usersScoreInfo[uid][idx]) { //没有提交
                        //     row['c'+idx] = ""
                        // } else if (this.usersScoreInfo[uid][idx].wrong_sum > 0) { //错误数量
                        //     row['c'+idx] = "(-" + this.usersScoreInfo[uid][idx].wrong_sum + ")";
                        // } else {
                        //
                        // }
                        row['c'+idx] = this.usersScoreInfo[uid][idx];
                        //row['c'+idx].is_first_blood = false;
                    }
                    this.rankList.push(row);
                }
            }
        },
        mounted() {
        },
        props: {
            globalContext: null,
            problemsSum: 0,

            participants: null,
            usersScoreInfo: null,

            start_time: 0,
            end_time: 0,
        },
        watch: {
            usersScoreInfo: function () {
                this.calRankList();
            },
        },
    }

</script>

<style scoped>
</style>

<style>
    #rank-list td, #rank-list .cell {
        padding: 0;
    }
    .rank-cell{
        height: 50px;
    }
    .rank-cell.accept {
        background-color: #a9f5af;
    }
    .rank-cell.wa {
        background-color: #fdd;
    }
    .rank-cell.first_blood {
        background-color: #080;
        color:white;
    }
</style>