<template>
    <section>
        <el-col :span="20" :offset="2">
            <el-card class="time-box">
                <h1>{{ title }}</h1>
            </el-card>
            <div>
                <el-tabs tabPosition="top" v-model="tab_active_name">
                    <el-tab-pane label="比赛概览" name="tab1">
                        <el-table
                                :data="problems"
                                v-loading="problems_loading"
                                border
                                stripe
                                class="row-tighten">
                            <el-table-column label="ID" width="100" align="center" :resizable="false">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="globalContext.showProblemDetail(scope.row.Index)">{{
                                        abc_list[scope.row.Index] }}
                                    </el-button>
                                </template>
                            </el-table-column>
                            <el-table-column prop="Title" label="Title" align="center" min_width="100"
                                             :resizable="false">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="globalContext.showProblemDetail(scope.row.Index)">{{
                                        scope.row.Title }}
                                    </el-button>
                                </template>
                            </el-table-column>
                            <el-table-column label="Stat" align="center" width="80" :resizable="false">
                                <template slot-scope="scope">
                                    {{ void 0 == problems_stat[scope.row.Index] ? '- ' :
                                    problems_stat[scope.row.Index].ac }}/{{ void 0 == problems_stat[scope.row.Index] ?
                                    ' -' : problems_stat[scope.row.Index].sum }}
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                    <el-tab-pane label="查看题目" name="tab2">
                        <contest-problems-view
                                :contest_id="id"
                                :problems="problems"
                                :globalContext="globalContext"
                                :sectionOffsetTop="contest_problem_view_section_offsetTop"
                                ref="contest_problems_view"
                        >

                        </contest-problems-view>
                    </el-tab-pane>
                    <el-tab-pane label="提交记录" name="tab3">
                        <status-pane
                                ref="status_pane"
                                :globalContext="globalContext"
                                :contest_id="id">
                        </status-pane>
                    </el-tab-pane>
                    <el-tab-pane label="比赛排名" name="tab4">
                        <contest-rank-list
                                :globalContext="globalContext"
                                :usersScoreInfo="usersScoreInfo"
                                :participants="zip_submissions.participants"
                                :problemsSum="problems.length"
                                :start_time="start_time"
                                :end_time="end_time"
                        >

                        </contest-rank-list>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </el-col>
    </section>
</template>
<script>
    import Vue from 'vue'
    import util from '../../common/util'
    import axios from 'axios';
    import StatusPane from '../StatusPane.vue'
    import ContestProblemsView from './ContestProblemsView.vue';
    import ContestRankList from './ContestRankList.vue'

    Vue.component('contest-rank-list', ContestRankList);
    Vue.component("contest-problems-view", ContestProblemsView);
    Vue.component("status-pane", StatusPane);


    export default {
        data() {
            return {
                id: this.$route.query.id == null ? 0 : parseInt(this.$route.query.id),
                title: "",
                start_time: null,
                end_time: null,

                //比赛概览部分
                problems_loading: false,
                problems: [],
                problems_stat: [],

                zip_submissions: {
                    participants: [],
                    submissions: [],
                },

                usersScoreInfo: {},

                tab_active_name: "tab1",

                abc_list: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
                contest_problem_view_section_offsetTop: 0,
            }
        },
        methods: {
            checkContestAuth() { //验证是否有权访问本比赛

            },
            getContestDetail() {
                const _this = this;
                axios.post(_this.globalContext.rootPath + '/api/contest_detail', {
                    contest_id: _this.id
                }).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.title = rsp.data.title;
                        _this.start_time = new Date(rsp.data.start_time).valueOf();
                        _this.end_time = new Date(rsp.data.end_time).valueOf();


                        function compare(v1, v2) {
                            return v1.Index - v2.Index;
                        }

                        rsp.data.problems.sort(compare);
                        _this.problems = rsp.data.problems;
                        while (_this.problems_stat.length < _this.problems.length) {
                            _this.problems_stat.push({
                                ac: 0,
                                sum: 0,
                            });
                        }
                    } else {
                        _this.$message({
                            message: rsp.data.msg,
                            type: "error"
                        })
                    }
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            getZipSubmissions() {
                const _this = this;
                axios.post(_this.globalContext.rootPath + '/api/contest_zip_submissions', {
                    contest_id: _this.id
                }).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.zip_submissions.submissions = rsp.data.submissions;
                        _this.zip_submissions.participants = rsp.data.participants;
                        _this.calZippedSubmissions();
                    } else {
                        _this.$message({
                            message: rsp.data.msg,
                            type: "error"
                        })
                    }
                }).catch(function (error) {
                    console.log(error);
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            calZippedSubmissions() {
                const _this = this;
                let sm = _this.zip_submissions.submissions;
                let users = _this.usersScoreInfo = {};
                const len = sm.length;

                //需要先排序
                function compare(v1, v2) {
                    return v1[3] - v2[3]; //从小到大
                }

                sm.sort(compare);

                let first_blood_stat = {};

                //user_id status_code problem_index submit_time
                for (let i = 0; i < len; i++) {
                    const uid = sm[i][0];
                    const is_ac = (sm[i][1] == 1);
                    const pidx = sm[i][2];
                    const sbt_time = sm[i][3];

                    while (_this.problems_stat.length <= pidx) {
                        _this.problems_stat.push({
                            ac: 0,
                            sum: 0,
                        });
                    }
                    this.problems_stat[pidx].sum++;
                    if (is_ac) {
                        this.problems_stat[pidx].ac++;
                    }

                    if (void 0 == users[uid]) {
                        users[uid] = {}
                    }
                    if (void 0 == users[uid][pidx]) {
                        users[uid][pidx] = {
                            is_ac: false,
                            ac_time: -1,
                            wrong_sum: 0,
                            punish_time: 0,
                            is_first_blood: false,
                        }
                    }
                    if (users[uid][pidx].is_ac) continue;
                    if (is_ac) {
                        if (void 0 == first_blood_stat[pidx]) {
                            first_blood_stat[pidx] = uid;
                            users[uid][pidx].is_first_blood = true;
                        }
                        users[uid][pidx].is_ac = true;
                        users[uid][pidx].ac_time = sbt_time;
                    } else {
                        users[uid][pidx].wrong_sum++;
                        users[uid][pidx].punish_time += 20;
                    }
                }
            },
        },
        mounted() {
            const _this = this;
            _this.getContestDetail();
            _this.getZipSubmissions();
            _this.globalContext.showProblemDetail = function (index) {
                _this.$refs.contest_problems_view.selected_tab_id = index;
                _this.tab_active_name = "tab2";
            };
            _this.contest_problem_view_section_offsetTop = document.querySelector('.el-tabs--top').offsetTop;
        },
        components: {},
        props: {
            globalContext: null,
        },
        watch: {
            tab_active_name : function (v) {
                if(v=="tab3") {
                    this.$refs.status_pane.getStatus();
                }
            }
        }
    }

</script>

<style scoped>
    h1 {
        margin: 0;
        text-align: center;
        font-size: 28px;
    }

    h2.title-fineoj {
        font-size: 18px !important;
    }

    h1.title-fineoj {
        font-size: 25px !important;
    }

    .time-box {
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
</style>
<style>
    #tab-tab1 {
        margin-left: 60px;
    }

    .el-tabs__active-bar.is-top {
        margin-left: 60px;
    }
</style>
