<template>
    <section>
        <div class="sticky-radio" style="padding-right: 1px;margin-top: 20px;width:42px;float: left;">
            <el-radio-group v-model="selected_tab_id"
                            @change="switch_tab_to">
                <el-radio
                          v-for="item in problems"
                          :key="item.Index"
                          :label="item.Index"
                          class="contest-problem-tabs-radio">
                    {{ abc_list[item.Index] }}
                </el-radio>
            </el-radio-group>
        </div>
        <div style="border-left: 1px solid #59b59c;padding-left: 20px;margin-left:43px;">
            <!--题目信息显示-->
            <problem-detail-pane
                    :globalContext="globalContext"
                    ref="problem_detail_pane"/>
            <!--编辑器-->
            <div v-show="!problem_loading">
                <div class="editor-title">
                    <div class="language_select">
                        <el-select v-model="language" size="medium" @change="languageChange"
                                   placeholder="">
                            <el-option
                                    v-for="(value, key) in language_options"
                                    :key="key"
                                    :label="value.Label"
                                    :value="key">
                            </el-option>
                        </el-select>
                    </div>
                    <div style="float:left;margin-top: 12px;margin-left: 8px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"
                         v-bind:class="{'status-class-accept':judging_status_code==1,'status-class-judging':judging_status_code!=1,'status-class-deny':!judging && judging_status_code!=1}">
                        <div v-if="judging_status_code==3" @click="showCEInfoDialog=true"
                             class="CE_btn">
                            {{ judging_msg }}
                        </div>
                        <div v-else>
                            {{ judging_msg }}
                        </div>
                    </div>
                    <i v-if="judging" class="el-icon-loading"
                       style="float:left;margin-top: 15px;margin-left: 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"
                       v-bind:class="{'status-class-accept':judging_status_code==1,'status-class-judging':judging_status_code!=1,}"></i>
                    <i v-else-if="judging_status_code==1" class="el-icon-check"
                       style="float:left;margin-top: 15px;margin-left: 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"
                       v-bind:class="{'status-class-accept':judging_status_code==1,'status-class-judging':judging_status_code!=1,}"></i>
                    <i v-else-if="judging_msg.length > 0" class="el-icon-close status-class-deny"
                       style="float:left;margin-top: 15px;margin-left: 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></i>

                </div>
                <div class="editor">
                    <editor v-model="code" @init="editorInit" theme="twilight" width="100%"
                            height="100%"
                            style="font-size:12px;"/>
                </div>
                <el-button class="submit-btn" type="primary" v-on:click="submit"
                           v-bind:disabled="judging"
                           size="medium">提交代码
                </el-button>
            </div>

            <!--编译错误对话框-->
            <el-dialog
                    :visible.sync="showCEInfoDialog"
                    title="Compilation Error"
                    :modal="true"
                    width="60%"
                    custom-class="compilation-error-dialog">
                <div style="overflow:auto;" class="compilation-error-dialog-text">
                    <pre>{{ CEInfo }}</pre>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="showCEInfoDialog = false" type="danger" size="medium"
                               style="width:100%;">Close
                    </el-button>
                </div>
            </el-dialog>
        </div>
    </section>
</template>
<script>
    import util from '../../common/util'
    import axios from 'axios';

    export default {
        data() {
            return {
                cardBodyStyle: {
                    padding: '12px'
                },
                selected_tab_id: 0,
                code: "",

                judging: false,
                judging_msg: "",
                judging_status_code: 0,

                show_dialog: false,
                problem_loading: true,

                language_options: {},
                language: null, //当前选中的language

                editor: null,
                last_time_save: null,
                CEInfo: "",
                showCEInfoDialog: false,


                abc_list: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
            }
        },
        methods: {
            switch_tab_to(tab_id) {
                this.readCode();
                this.judging = false;
                this.judging_msg = "";
                this.judging_status_code = 0;
            },
            getContestProblemsOverview() {

            },
            getProblem() {
                var _this = this;
                axios.post(_this.globalContext.rootPath + '/api/contest_problem_detail', {
                    contest_id: _this.contest_id,
                    problem_index: _this.selected_tab_id
                }).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.$refs.problem_detail_pane.setProblem({
                            title: rsp.data.title,
                            time_limit: rsp.data.time_limit,
                            mem_limit: rsp.data.mem_limit,
                            description: rsp.data.description,
                            input: rsp.data.input,
                            sample_input: rsp.data.sample_input,
                            output: rsp.data.output,
                            sample_output: rsp.data.sample_output,
                            hint: rsp.data.hint,
                        });
                        _this.language_options = rsp.data.language_options;
                        _this.problem_loading = false;
                        _this.$nextTick(function () {
                            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                            Prism.highlightAll();
                        });
                        if (typeof(localStorage.getItem("editor_mode_" + _this.id)) == "string") {
                            _this.language = localStorage.getItem("editor_mode_" + _this.id)
                        } else {
                            for (var k in _this.language_options) {
                                _this.language = k;//遍历key
                                break;
                            }
                        }
                        _this.editor.session.setMode("ace/mode/" + _this.language_options[_this.language].Editor);
                    } else {
                        _this.$message({
                            message: rsp.data.msg,
                            type: "error"
                        })
                    }
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            submit() {
                var _this = this;
                _this.judging = true;
                _this.show_dialog = false;
                _this.judging_msg = "Waiting";
                _this.judging_status_code = 20;
                if ("WebSocket" in window) {
                    // 打开一个 web socket
                    var ws = new WebSocket("ws://" + window.location.host + _this.globalContext.rootPath + "/api/ws/submit_code");

                    ws.onopen = function () {
                        let parm = {
                            "contest_id": _this.contest_id,
                            "problem_index": _this.selected_tab_id,
                            "code": _this.code,
                            "languageCode": _this.language
                        };

                        ws.send(JSON.stringify(parm));
                    };

                    ws.onmessage = function (evt) {
                        let m = JSON.parse(evt.data);
                        if (m.ErrorMessage) {
                            if (m.ErrorMessage == "needlogin") {
                                _this.globalContext.isLogin = false;
                                _this.globalContext.showLoginDialog = true;
                            } else {
                                _this.$message.error(m.ErrorMessage);
                            }
                            _this.judging_msg = "";
                            return
                        }
                        _this.judging_msg = m.Status;
                        _this.judging_status_code = m.StatusCode;
                        if (m.StatusCode == 3) { //编译错误
                            const h = _this.$createElement;
                            _this.showCEInfoDialog = true;
                            _this.CEInfo = m.AdditionalMessage;
                        }
                    };

                    ws.onclose = function () {
                        _this.judging = false;
                    };

                    ws.onerror = function () {
                        _this.judging_msg = "System Error";
                        _this.judging_status_code = 10;
                        _this.judging = false;
                    };
                }
                else {
                    alert("您的浏览器不支持 WebSocket!");
                }
            },
            languageChange(value) {
                this.editor.session.setMode("ace/mode/" + this.language_options[value].Editor);
                localStorage.setItem("editor_mode_" + this.id, this.language);
            },
            editorInit(editor) {
                require('brace/ext/language_tools');
                require('brace/mode/c_cpp');
                require('brace/mode/html');
                require('brace/mode/java');
                require('brace/mode/csharp');
                require('brace/mode/pascal');
                require('brace/theme/twilight');
                this.editor = editor;
            },
            saveCode() {
                localStorage.setItem("offline_code_" + this.contest_id + "_" + this.selected_tab_id, this.code);
            },
            readCode() {
                if (typeof(localStorage.getItem("offline_code_" + this.contest_id + "_" + this.selected_tab_id)) != "string") {
                    this.code = "";
                } else {
                    this.code = localStorage.getItem("offline_code_" + this.contest_id + "_" + this.selected_tab_id);
                }
            }
        },
        mounted() {
            const _this = this;
            _this.getProblem();
            _this.readCode();
            _this.editor.session.on('change', _this.saveCode);
            let radio = document.querySelector('.sticky-radio');
            function onScroll(e) {
                //console.log(window.scrollY, origOffsetY);
                let origOffsetY = radio.offsetTop + _this.sectionOffsetTop + 75;
                window.scrollY >= origOffsetY ? radio.classList.add('sticky') :
                    radio.classList.remove('sticky');
            }
            document.addEventListener('scroll', onScroll);
        },
        components: {
            editor: require('vue2-ace-editor'),
        },
        props: {
            globalContext: null,
            problems: null,
            contest_id : 0,
            sectionOffsetTop: null,
        },
        watch:{
            selected_tab_id : function() {
                this.getProblem();
            }
        }
    }

</script>

<style scoped>
    h1 {
        margin: 0;
        text-align: center;
        font-size: 28px;
    }

    .status-class-judging {
        color: rgba(189, 184, 0, 0.88);
        font-weight: bold;
    }

    .status-class-accept { /* Accepted */
        color: rgb(0, 255, 9);
        font-weight: bold;
    }

    .status-class-deny { /* Accepted */
        color: rgba(255, 65, 0, 0.79);
        font-weight: bold;
    }

    /*语言选择框*/
    .language_select {
        float: left;
        padding-top: 4px;
        margin-left: 8px;
    }

    .title-fineoj {
        color: #3a8ee6;
        margin-top: 18px;
        margin-bottom: 4px;
    }

    h2.title-fineoj {
        font-size: 18px !important;
    }

    h1.title-fineoj {
        font-size: 25px !important;
    }

    .editor {
        height: 400px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .editor-title {
        margin-left: 8px;
        margin-right: 8px;
        left: 8px;
        right: 0;
        top: 0;
        height: 45px;
        background-color: #141414;
        display: block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .submit-btn {
        font-size: 16px;
        margin-top: 8px;
        margin-left: 8px;
        margin-bottom: 30px;
    }

    .pre-style {
        margin: 0;
    }

    .limit-block {
        font-size: 1px;
        color: #5d5d5d;
    }

    .CE_btn:hover {
        color: #ff0001;
        cursor: pointer;
    }
</style>
<style>
    .sticky {
        position: fixed;
        top: 0;
    }

    .contest-problem-tabs-radio.accept {
        /*background-color: rgba(0, 205, 0, 0.1);*/
        background: linear-gradient(to right, rgba(0, 255, 0, 1) 1%, white);
    }

    .contest-problem-tabs-radio.deny {
        background: linear-gradient(to right, rgba(255, 0, 0, 0.8)  1%, white);
    }

    .contest-problem-tabs-radio.is-checked .el-radio__label {
        color: #59b59c;
    }

    .contest-problem-tabs-radio .el-radio__inner {
        display: none;
    }

    .contest-problem-tabs-radio .el-radio__label {
        font-size: 18px;
        padding-left: 14px;
        display: block;
        /*text-align: center;*/
    }

    .contest-problem-tabs-radio {
        margin-left: 0 !important;
        width: 100% !important;
        height: 28px !important;
        padding-bottom: 14px;
        border: 1px solid rgba(199, 199, 199, 0.47);
        border-right: 1px solid #59b59c;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .contest-problem-tabs-radio.is-checked {
        /*background-color: #59b59c;*/
        border: 1px solid #59b59c;
        border-right: 1px solid #f0f3f4;
    }

    .el-tabs__item {
        font-size: 16px;
    }

    .compilation-error-dialog {
        background-color: rgb(255, 255, 255);
    }

    .compilation-error-dialog-title {
        color: #ff0500;
        font-size: 20px;
    }

    .compilation-error-dialog-text {
        padding-left: 20px;
        color: #ff3900;
        border: 1px solid #ebeef5;
        border-radius: .5em;
    }

    p {
        margin: 4px;
    }

    /*cf加粗*/
    .tex-font-style-bf {
        font-weight: bold;
    }
</style>
