<template>
    <section>
        <!--工具条-->
        <el-col :span="20" :offset="2">
            <el-col :span="4" :offset="20" style="margin-bottom: 8px;">
                <el-button @click="$refs.contest_create_dialog.createContest()" style="float:right" type="success"
                           icon="el-icon-circle-plus">
                    新建比赛
                </el-button>
            </el-col>
            <!--列表-->
            <el-table
                    stripe
                    :data="contests"
                    v-loading="listLoading"
                    :border="true"
                    row-class-name="row-tighten">
                <el-table-column prop="Id" label="ID" width="100" align="center" :resizable="false">
                </el-table-column>
                <el-table-column prop="Type" label="类型" width="100" align="center" :resizable="false">
                    <template slot-scope="scope">
                        <div v-if="scope.row.Type==0">
                            公开
                        </div>
                        <div v-else>
                            加密
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="Title" label="Title" align="center" min_width="100" :resizable="false">
                    <template slot-scope="scope">
                        <el-button type="text" @click="enterContest(scope.row.Id, scope.row.Title)">{{ scope.row.Title
                            }}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="CreateTime" label="创建时间" width="200" align="center" :resizable="false">
                </el-table-column>
            </el-table>

            <!--工具条-->
            <el-col :span="24" class="toolbar" style="padding-top: 1em">
                <el-pagination
                        layout="prev, pager, next"
                        @current-change="handleCurrentChange"
                        :page-size="15"
                        :total="total"
                        style="float:right;"
                        :current-page="page">
                </el-pagination>
            </el-col>
            <contest-edit-dialog
                    @success="filter"
                    v-bind:globalContext="globalContext"
                    ref="contest_create_dialog"
            ></contest-edit-dialog>
        </el-col>
    </section>
</template>
<script>
    import util from '../../common/util'
    import axios from 'axios'

    export default {
        data() {
            return {
                filters: {
                    oj: this.$route.query.oj == null ? "all" : this.$route.query.oj,
                    search: this.$route.query.search == null ? "" : this.$route.query.search
                },
                contests: [],
                total: 0,
                page: this.$route.query.pageid == null ? 1 : parseInt(this.$route.query.pageid),
                listLoading: false,

            }
        },
        methods: {
            enterContest(contest_id, title, password) {
                const _this = this;
                _this.listLoading = true;
                axios.post(_this.globalContext.rootPath + '/api/enter_contest', {
                    contest_id: contest_id,
                    password: password
                }).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.$router.push(_this.globalContext.rootPath + '/contest?id=' + contest_id)
                    } else if (rsp.data.needlogin) {
                        _this.globalContext.isLogin = false;
                        _this.globalContext.showLoginDialog = true;
                    } else if (rsp.data.needpassword) {
                        _this.$prompt(password ? '<span style="color:red;">密码错误！请重新输入：</span>' : '请输入密码：', title, {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            dangerouslyUseHTMLString: true
                        }).then(({value}) => {
                            _this.enterContest(contest_id, title, value)
                        }).catch(() => {
                        });
                    } else {
                        _this.$message({
                            message: rsp.data.msg,
                            type: "error"
                        })
                    }
                    _this.listLoading = false;
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    });
                    _this.listLoading = false;
                });
            },
            handleCurrentChange(val) {
                this.page = val;
                util.queryString.push("pageid", val);
                this.getContests();
            },
            filter() {
                util.queryString.push("oj", this.filters.oj);
                util.queryString.push("search", this.filters.search);
                this.getContests();
            },
            getContests() {
                const _this = this;
                _this.listLoading = true;
                axios.post(_this.globalContext.rootPath + '/api/contests_list', {
                    page: this.page,
                    offset: 15 * (this.page - 1),
                    limit: 15,
                    oj: this.filters.oj,
                    search: this.filters.search,
                }).then(function (rsp) {
                    _this.total = rsp.data.total;
                    _this.contests = rsp.data.contests;
                    _this.listLoading = false;
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
        },
        mounted() {
            this.getContests();
        },
        props: {
            globalContext: null
        }
    }

</script>

<style scoped>
</style>

<style>
    .create-contest-dialog {
        border-radius: 0;
    }
</style>