<template>
    <section>
        <el-dialog :title="create_contest_dialog_title"
                   :visible.sync="show_create_dialog"
                   :fullscreen="true"
                   custom-class="create-contest-dialog">
            <el-card style="margin-bottom: 40px;">
                <el-form>
                    <el-form-item label="比赛标题">
                        <el-input v-model="create_contest_data.title" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <span>类型：</span>
                        <el-radio v-model="create_contest_data.type" :label="0">公开</el-radio>
                        <el-radio v-model="create_contest_data.type" :label="1">加密</el-radio>
                    </el-form-item>
                    <el-form-item label="密码" v-if="create_contest_data.type == 1">
                        <el-input v-model="create_contest_data.password" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <div class="block">
                            <span class="demonstration">比赛时间：</span>
                            <el-date-picker
                                    v-model="create_contest_data.time_range"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    type="datetimerange"
                                    range-separator="至"
                                    start-placeholder="开始时间"
                                    end-placeholder="结束时间">
                            </el-date-picker>
                        </div>
                    </el-form-item>
                </el-form>
            </el-card>
            <el-card>
                <div>
                    <span>题目编辑/预览</span>
                    <el-button type="text" @click="problem_preview_show_switch()">
                        {{ problem_preview_show ? '收起' : '展开' }}
                    </el-button>
                </div>
                <div :style="problem_preview_style" v-if="problem_preview_show">
                    <hr style="margin-bottom:20px;height:3px;border:none;border-top:1px solid #3a745d;"/>
                    <el-row>
                        <!--左侧标签-->
                        <el-col :span="10" style="padding-right: 1px;margin-top: 20px;float: left;">
                            <el-radio-group v-model="selected_tab_id" class="problem-tabs-group"
                                            @change="switch_tab_to">
                                <el-radio
                                        class="problem-tabs-radio"
                                        v-for="(item, index) in tabs_data"
                                        :label="index">
                                    <div class="tabs-title" :title="item.problem.title">{{ abc_list[index] }} - {{
                                        item.problem.title }}
                                    </div>
                                    <el-button type="text"
                                               style="float:right;font-size: 22px;margin-top: -35px;"
                                               @click="remove_problem(index)"
                                               class="el-radio__label">
                                        <i class="el-icon-close"></i>
                                    </el-button>
                                </el-radio>
                                <el-radio
                                        class="problem-tabs-radio"
                                        style="background-color: rgba(0,128,0,0.42)"
                                        :label="-1">
                                    <div style="width:100%;height:100%;">
                                        <i class="el-icon-plus"></i> 添加
                                    </div>
                                </el-radio>
                            </el-radio-group>
                        </el-col>
                        <!--问题面板-->
                        <el-col :span="14"
                                style="border-left: 1px solid #59b59c;padding-left: 20px;">
                            <el-row>
                                <el-row>
                                    <el-col :span="11">
                                        <span style="margin-left:4px;">OJ：</span>
                                        <el-select v-model="real_selected_oj" style="width:100%;margin-bottom:8px;">
                                            <el-option label="All" value="all"></el-option>
                                            <el-option label="FineOJ" value="fineoj"></el-option>
                                            <el-option label="HDU" value="hdu"></el-option>
                                            <el-option label="CodeForces" value="cf"></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col :span="12" :offset="1">
                                        <span style="margin-left:4px;">Problem ID：</span>
                                        <el-input
                                                class="contest-edit-problem_id_input"
                                                readonly
                                                v-model="real_inputted_remote_problem_id"
                                                placeholder="Problem ID"
                                        ></el-input>
                                    </el-col>
                                </el-row>
                                <span style="margin-left:4px;">输入 Problem ID / Title 进行搜索：</span>
                                <el-select
                                        @change="select_one_problem"
                                        style="width:100%;"
                                        v-model="real_selected_problem_id"
                                        filterable
                                        remote
                                        reserve-keyword
                                        placeholder="Problem ID / Title"
                                        :remote-method="search_problem"
                                        :loading="searching">
                                    <el-option
                                            v-for="item in search_result"
                                            :key="item.Id"
                                            :label="item.Id > 0 ? item.Oj + ' - ' + item.RemoteProblemId + ' ' + item.Title : item.Title"
                                            :value="item.Id">
                                    </el-option>
                                </el-select>
                            </el-row>
                            <problem-detail-pane ref="problem_detail_pane"
                                                 :globalContext="globalContext"
                                                 @loaded="problem_loaded"
                                                 v-if="selected_tab_id >= 0 && tabs_data[selected_tab_id].problem.id > 0"
                                                 :id="tabs_data[selected_tab_id].problem.id"/>
                        </el-col>
                    </el-row>
                </div>
            </el-card>
            <div slot="footer" class="dialog-footer">
                <el-button @click="show_create_dialog = false">取 消</el-button>
                <el-button type="primary" @click="createEditContestSubmit" :loading="create_contest_loading">确 定
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import util from '../../common/util'
    import axios from 'axios'

    export default {
        data() {
            return {
                problem_preview_show: true,
                problem_preview_style: {
                    "min-height": (50 + document.documentElement.clientHeight) + 'px',
                },
                show_create_dialog: false,
                create_contest_dialog_title: "",
                selected_tab_id: 0,//卡片ID：0～26
                real_selected_oj: "all",
                real_inputted_remote_problem_id: "",
                real_selected_problem_id: "",
                searching: false,
                search_result: [{
                    Id: -2,
                    Title: "现在你可以进行模糊搜索"
                }],
                tabs_data: [
                    { //新建题目的时候数据初始化
                        selected_oj: "all",
                        inputted_remote_problem_id: "",
                        problem: {
                            id: 0,
                            title: "待编辑",
                        }
                    }
                ],
                create_contest_loading: false,
                create_contest_data: {
                    id: 0,
                    type: 0,
                    action: "",
                    title: "",
                    time_range: [],
                    password: "",
                },
                abc_list: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
            }
        },
        methods: {
            // populate() { //将real值更行
            //
            // },
            // step 1  自动触发pane下载题目:id="problems[selected_tab_id].id"
            select_one_problem(problem_id) {
                const _this = this;
                _this.tabs_data[_this.selected_tab_id].problem.id = problem_id;
            },
            // step 2  pane下载完毕后触发该函数
            problem_loaded(pane) {
                const _this = this;
                _this.tabs_data[_this.selected_tab_id].problem.id = pane.id;
                _this.tabs_data[_this.selected_tab_id].problem.title = pane.title;
                _this.tabs_data[_this.selected_tab_id].selected_oj = pane.oj;
                _this.tabs_data[_this.selected_tab_id].inputted_remote_problem_id = pane.remote_problem_id;
                pane.setTitlePrefix(_this.abc_list[_this.selected_tab_id] + " - ");
                _this.switch_tab_to(_this.selected_tab_id); //更新tab
            },
            // step 3  重新设置tab标题、pane内容（给标题加前缀）、下拉框的值
            switch_tab_to(tab_id) {
                const _this = this;
                _this.real_selected_problem_id = "";
                if (tab_id < 0) { //新添加题目
                    _this.selected_tab_id = _this.tabs_data.length;
                    _this.tabs_data.push({ //新建题目的时候数据初始化
                        selected_oj: "all",
                        selected_problem_id: null, //在选题的时候的选中的条目
                        inputted_remote_problem_id: "",
                        problem: {
                            id: 0,
                            title: "待编辑",
                        }
                    });
                } else if (_this.tabs_data[tab_id].problem.id > 0) { //已经有题目了
                }
                _this.real_selected_oj = _this.tabs_data[_this.selected_tab_id].selected_oj;
                _this.real_inputted_remote_problem_id = _this.tabs_data[_this.selected_tab_id].inputted_remote_problem_id;
            },
            remove_problem(index) {
                const _this = this;
                _this.tabs_data.splice(index, 1);
                if (_this.selected_tab_id >= _this.tabs_data.length) {
                    _this.selected_tab_id = _this.tabs_data.length - 1;
                }
                _this.switch_tab_to(_this.selected_tab_id);
            },
            problem_preview_show_switch() {
                const _this = this;
                _this.problem_preview_show = !_this.problem_preview_show;
                if (!_this.problem_preview_show) {
                    _this.problem_preview_style["min-height"] = '0';
                } else {
                    _this.problem_preview_style["min-height"] = (50 + document.documentElement.clientHeight) + 'px';
                }
            },
            editContest(cid) {

            },
            createContest() {
                const _this = this;
                _this.create_contest_dialog_title = "新建比赛";
                _this.problem_preview_show = true;
                _this.problem_preview_style = {
                    "min-height": (50 + document.documentElement.clientHeight) + 'px',
                };
                _this.selected_tab_id = 0;
                _this.real_selected_oj = "all";
                _this.real_inputted_remote_problem_id = "";
                _this.real_selected_problem_id = "";
                _this.searching = false;
                _this.search_result = [{
                    Id: -2,
                    Title: "现在你可以进行模糊搜索"
                }];
                _this.tabs_data = [
                    { //新建题目的时候数据初始化
                        selected_oj: "all",
                        inputted_remote_problem_id: "",
                        problem: {
                            id: 0,
                            title: "待编辑",
                        }
                    }
                ];

                _this.create_contest_data.action = "create";
                _this.create_contest_data.id = 0;
                _this.create_contest_data.title = "";
                _this.create_contest_data.type = 0;
                _this.create_contest_data.time_range = [];

                _this.show_create_dialog = true;
            },
            createEditContestSubmit() {
                const _this = this;
                _this.create_contest_loading = true;
                // 处理tabs_data里的problems
                const len = _this.tabs_data.length;
                _this.create_contest_data.problems = [];
                for (let i = 0; i < len; i++) {
                    _this.create_contest_data.problems.push({
                        index: i,
                        problem_id: _this.tabs_data[i].problem.id,
                    });
                }
                axios.post(_this.globalContext.rootPath + '/api/edit_contest',
                    _this.create_contest_data
                ).then(function (rsp) {
                    if (rsp.data.needlogin) {
                        _this.globalContext.isLogin = false;
                        _this.globalContext.showLoginDialog = true;
                    } else if (!rsp.data.success) {
                        _this.$message.error(rsp.data.msg);
                    } else {
                        _this.$message.success("success!");
                        _this.show_create_dialog = false;
                    }
                    _this.$emit('success', _this);
                    _this.create_contest_loading = false;
                }).catch(function (error) {
                    console.log(error);
                    _this.$message({
                        message: error,
                        type: "error"
                    });
                    _this.create_contest_loading = false;
                });
            },
            search_problem(query) {
                var _this = this;
                if (query == "") return;
                _this.searching = true;
                axios.post(_this.globalContext.rootPath + '/api/contest_edit_problem_search', {
                    oj: _this.tabs_data[_this.selected_tab_id].selected_oj,
                    search: query,
                }).then(function (rsp) {
                    _this.search_result = rsp.data.problems;
                    _this.searching = false;
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
        },
        mounted() {
        },
        props: {
            globalContext: null
        },
        watch: { //从外向里
            real_selected_oj: function (v) {
                this.tabs_data[this.selected_tab_id].selected_oj = v;
            },
            real_inputted_remote_problem_id: function (v) {
                this.tabs_data[this.selected_tab_id].inputted_remote_problem_id = v;
            },
        },
    }
</script>
<style scoped>

</style>
<style>
    .contest-edit-problem_id_input .el-input__inner {
        cursor: default !important;
        border: 1px solid #c0c4cc;
        background-color: rgba(170, 170, 170, 0.17);
    }

    .problem-tabs-radio .el-radio__label {
        color: #606266;
    }

    div.tabs-title {
        overflow: hidden;
        margin-right: 30px;
    }

    .problem-tabs-radio.is-checked .el-radio__label {
        color: #59b59c;
    }

    #tab-0 {
        margin-left: 60px;
    }

    .el-tabs__active-bar.is-top {
        margin-left: 60px;
    }

    .problem-tabs-radio .el-radio__inner {
        display: none;
    }

    .problem-tabs-radio .el-radio__label {
        font-size: 18px;
        padding-left: 14px;
        display: block;
        /*text-align: center;*/
    }

    .problem-tabs-radio {
        margin-left: 0 !important;
        width: 100% !important;
        height: 28px !important;
        padding-bottom: 14px;
        border: 1px solid rgba(199, 199, 199, 0.47);
        border-right: 1px solid #59b59c;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .problem-tabs-group.el-radio-group {
        width: 100% !important;
    }

    .problem-tabs-radio.is-checked {
        /*background-color: #59b59c;*/
        border: 1px solid #59b59c;
        border-right: 1px solid white;
    }

    .el-tabs__item {
        font-size: 16px;
    }
</style>