<template>
    <el-container>
        <el-header style="height: 50px;">
            <el-dialog title="Login" :visible.sync="globalContext.showLoginDialog" width="40%">
                <el-form :model="ruleFormLogin" :rules="rulesLogin" ref="ruleFormLogin" label-position="left"
                         label-width="0px"
                         class="demo-ruleForm login-container">
                    <el-form-item prop="username">
                        <el-input type="text" v-model="ruleFormLogin.username" auto-complete="off"
                                  placeholder="账号"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" v-model="ruleFormLogin.password" auto-complete="off"
                                  placeholder="密码"></el-input>
                    </el-form-item>

                    <el-form-item style="width:100%;">
                        <el-checkbox v-model="checkedLogin" checked style="float:left;">记住密码</el-checkbox>
                        <el-button style="float:right"
                                   @click.native="globalContext.showLoginDialog = false;showRegisterDialog = true;">注册
                        </el-button>
                        <el-button style="float:right;margin-right: 12px" type="primary" @click.native="login"
                                   :loading="logining">登录
                        </el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
            <el-dialog title="Register" :visible.sync="showRegisterDialog">
                <el-form :model="ruleFormRegister" :rules="rulesRegister" ref="ruleFormRegister" label-position="left"
                         label-width="0px"
                         class="demo-ruleForm login-container">
                    <el-form-item prop="username">
                        <el-input type="text" v-model="ruleFormRegister.username" auto-complete="off"
                                  placeholder="账号"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" v-model="ruleFormRegister.password" auto-complete="off"
                                  placeholder="密码"></el-input>
                    </el-form-item>
                    <el-form-item prop="rePassword">
                        <el-input type="password" v-model="ruleFormRegister.rePassword" auto-complete="off"
                                  placeholder="重复密码"></el-input>
                    </el-form-item>

                    <el-form-item style="width:100%;">
                        <el-button type="primary" style="width:100%;" @click.native.prevent="register"
                                   :loading="registering">
                            注册
                        </el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
            <el-col :span="18">
                <el-menu
                        class="menu-style"
                        mode="horizontal"
                        :default-active="(
                        $route.path == $route.matched[0].path + '/problem' || $route.path==$route.matched[0].path + '/contest') ?
                        $route.path+'s' :
                        $route.path"
                        @select="handleSelect"
                        background-color="#545c64"
                        text-color="#fff"
                        active-text-color="#ffd04b"
                        :router="true">
                    <el-menu-item :index="$route.matched[0].path+'/index'">主页</el-menu-item>
                    <el-menu-item :index="$route.matched[0].path+'/problems'">问题</el-menu-item>
                    <el-menu-item :index="$route.matched[0].path+'/status'">状态</el-menu-item>
                    <el-menu-item :index="$route.matched[0].path+'/contests'">比赛</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :span="6">
                <div class="menu-style" style="padding-top: 5px">
                    <el-dropdown trigger="click" v-if="this.globalContext.isLogin">
                        <el-button class="user-block-btn" type="text">{{ this.globalContext.username }}<i
                                class="el-icon-caret-bottom"></i></el-button>
                        <el-dropdown-menu slot="dropdown">
                            <!--<el-dropdown-item>查看消息</el-dropdown-item>-->
                            <!--<el-dropdown-item>账号设置</el-dropdown-item>-->
                            <el-dropdown-item divided @click.native="logout">退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button class="user-block-btn" type="text" v-else="this.globalContext.isLogin"
                               v-on:click="globalContext.showLoginDialog = true">登录/注册
                    </el-button>
                </div>
            </el-col>
        </el-header>

        <el-main>
            <router-view v-bind:globalContext="globalContext"></router-view>
        </el-main>

        <el-footer>
            <span>
                Copyright © 2017-2018 Mengzhi.Zhang All Rights Reserved.
            </span><br>
            <span v-if="globalContext.severTime > 0">
                Server Time : {{ (new Date(globalContext.severTime)).format("yyyy-MM-dd hh:mm:ss") }}
            </span>
        </el-footer>

    </el-container>
</template>


<script>
    import ElHeader from "../../node_modules/element-ui/packages/header/src/main.vue";
    import axios from 'axios';
    import util from "../common/util"

    Date.prototype.format = function (t) {
        var e = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            S: this.getMilliseconds()
        };
        /(y+)/.test(t) && (t = t.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length)));
        for (var n in e)
            new RegExp("(" + n + ")").test(t) && (t = t.replace(RegExp.$1, 1 == RegExp.$1.length ? e[n] : ("00" + e[n]).substr(("" + e[n]).length)));
        return t
    }

    export default {
        components: {
            ElHeader
        },
        data() {
            let checkUsername = (rule, value, callback) => {
                if (value.match(/[a-zA-Z0-9_]*/) != value) callback(new Error('用户名必须由数字、下划线、字母组成'));
                else callback();
            };
            let checkPasswordIssame = (rule, value, callback) => {
                if (this.ruleFormRegister.rePassword != "" && this.ruleFormRegister.password != this.ruleFormRegister.rePassword) callback(new Error('两次密码不相同'));
                else callback();
            };
            let _this = this;
            return {
                globalContext: {  //需要传给子组件
                    ojsOptions: [],
                    rootPath: this.$route.matched[0].path,
                    isLogin: false,
                    id: 0,
                    username: "NULL",
                    showLoginDialog: false,
                    severTime: (new Date()).valueOf(),
                    getRelativeString: function (v) {
                        let e = (this.severTime - v) / 1e3;
                        let n = Math.abs(e);
                        let a = e > 0 ? "ago" : "later";
                        return n < 60 ? Math.round(n) + " sec " + a : n < 3600 ? Math.round(n / 60) + " min " + a : n < 86400 ? Math.round(n / 3600) + " hr " + a : n < 2592e3 ? Math.round(n / 86400) + " days " + a : n < 31536e3 ? Math.round(n / 2592e3) + " months " + a : Math.round(n / 31536e3) + " years " + a
                    },
                    abc_list : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
                    getLetter: function (index) {
                        return this.abc_list[index];
                    },
                    checkLogin: function (yes, no) {
                        axios.post(_this.globalContext.rootPath + '/api/checkLogin', {}).then(function (rsp) {
                            _this.timeRelative = (new Date(rsp.headers.date)).valueOf() - (new Date()).valueOf();
                            _this.adjustTime();
                            setInterval(_this.adjustTime, 1e3);
                            if (rsp.data.user) {
                                _this.globalContext.isLogin = true;
                                _this.globalContext.username = rsp.data.user.Username;
                                _this.globalContext.id = rsp.data.user.Id;
                                if (yes != null) yes();
                            } else {
                                _this.globalContext.isLogin = false;
                                _this.globalContext.username = "NULL";
                                _this.globalContext.id = 0;
                                if (no != null) no();
                            }
                        }).catch(function (error) {
                            _this.$message({
                                message: "请检查网络连接：" + error,
                                type: "error"
                            })
                        });
                    }
                },
                timeRelative: 0,

                logining: false,
                ruleFormLogin: {
                    username: '',
                    password: ''
                },
                rulesLogin: {
                    username: [
                        {required: true, message: '请输入账号', trigger: 'blur'},
                        {min: 3, max: 20, message: '长度必须介于 3 ~ 20', trigger: 'blur'},
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                    ]
                },
                checkedLogin: true,


                showRegisterDialog: false,
                registering: false,
                ruleFormRegister: {
                    username: '',
                    password: '',
                    rePassword: '',
                },
                rulesRegister: {
                    username: [
                        {required: true, message: '请输入账号', trigger: 'blur'},
                        {min: 3, max: 20, message: '长度必须介于 3 ~ 20', trigger: 'blur'},
                        {validator: checkUsername, trigger: 'blur'},
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {validator: checkPasswordIssame, trigger: 'blur'},
                    ],
                    rePassword: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {validator: checkPasswordIssame, trigger: 'blur'},
                    ]
                },
                checkedRegister: true
            }
        },
        methods: {
            getGlobal() {
                let _this = this;
                axios.post(_this.globalContext.rootPath + '/api/global', {}).then(function (rsp) {
                    _this.globalContext.ojsOptions = rsp.data;
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            adjustTime() {
                this.globalContext.severTime = this.timeRelative + (new Date()).valueOf();
            },
            checkLogin: function () {
                this.globalContext.checkLogin(null, null);
            },
            adjustBodyOverFlow: function () {
                var obj = document.getElementById("body");
                if (this.$route.path == "/problem") {
                    obj.style.setProperty('overflow', 'hidden', 'important');
                } else {
                    obj.style.setProperty('overflow', 'visible', 'important');
                }
            },
            handleSelect(key, keyPath) {
            },
            //退出登录
            logout: function () {
                let _this = this;
                //sessionStorage.removeItem('user');
                axios.post(_this.globalContext.rootPath + '/api/logout', {}).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.checkLogin();
                    }
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            login(ev) {
                let _this = this;
                this.$refs.ruleFormLogin.validate((valid) => {
                    if (valid) {
                        _this.logining = true;
                        axios.post(_this.globalContext.rootPath + '/api/login', {
                            username: _this.ruleFormLogin.username,
                            password: util.sha1(_this.ruleFormLogin.password)
                        }).then(function (rsp) {
                            if (rsp.data.success) {
                                _this.globalContext.isLogin = true;
                                _this.globalContext.username = rsp.data.user.Username;
                                _this.globalContext.id = rsp.data.user.Id;
                                _this.logining = false;
                                _this.$message({
                                    message: "登录成功！",
                                    type: "success",
                                    duration: 800,
                                })
                            } else {
                                _this.logining = false;
                                _this.$message({
                                    message: rsp.data.msg,
                                    type: "error"
                                })
                            }
                            _this.globalContext.showLoginDialog = false;
                        }).catch(function (error) {
                            _this.logining = false;
                            _this.$message({
                                message: error,
                                type: "error"
                            })
                        });
                    }
                });
            },
            register(ev) {
                let _this = this;
                this.$refs.ruleFormRegister.validate((valid) => {
                    if (valid) {
                        _this.registering = true;
                        axios.post(_this.globalContext.rootPath + '/api/register', {
                            username: _this.ruleFormRegister.username,
                            password: util.sha1(_this.ruleFormRegister.password)
                        }).then(function (rsp) {
                            if (rsp.data.success) {
                                _this.registering = false;
                                _this.showRegisterDialog = false;
                                _this.globalContext.showLoginDialog = true;
                                _this.$message({
                                    message: "注册成功，请登录",
                                    type: "success"
                                });
                            } else {
                                _this.registering = false;
                                _this.$message({
                                    message: rsp.data.msg,
                                    type: "error"
                                });
                            }
                        }).catch(function (error) {
                            _this.registering = false;
                            _this.$message({
                                message: "请检查网络连接：" + error,
                                type: "error"
                            })
                        });
                    }
                });
            }
        },
        mounted() {
            this.getGlobal();
            this.checkLogin();
            this.adjustBodyOverFlow();
            this.$router.afterEach((to, from, next) => {
                this.checkLogin();
                this.adjustBodyOverFlow();
                tinymce.remove();
            });
        }
    }
</script>

<style>
    body {
        margin: 0;
    }

    .el-header, .el-footer {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .el-footer {
        margin-bottom: 8px;
    }

    .el-header {
        background-color: #545c64;
        padding: 0;
    }

    .el-menu {
        padding-left: 6em;
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .el-menu-item > a {
        text-decoration: none;
    }

    .el-footer > span {
        font-size: 0.8em;
        color: #00000087;
    }

    .menu-style li {
        height: 50px !important;
        line-height: 50px !important;
    }

    .menu-style {
        height: 50px;
    }

    .submit-btn i {
        float: right !important;
        margin-left: 3px;
    }

    .row-tighten td {
        padding: 0 !important;
    }

    .row-black {
        background-color: #222320 !important;
        border-color: #222320 !important;
    }

    .row-black:hover {
        background-color: #222320 !important;
        border-color: #222320 !important;
    }

    .cf-iofile {
        font-size: 12px;
        color: #874500;
        margin-bottom: 20px;
        border: 1px solid #874500;
        padding: 5px;
    }

    .cf-iofile span {
        font-weight: bold;
        color: #f75b00;
    }

    .noselect {

        -webkit-touch-callout: none; /* iOS Safari */

        -webkit-user-select: none; /* Chrome/Safari/Opera */

        -khtml-user-select: none; /* Konqueror */

        -moz-user-select: none; /* Firefox */

        -ms-user-select: none; /* Internet Explorer/Edge */

        user-select: none; /* Non-prefixed version, currently not supported by any browser */

    }
</style>
