<template>
    <section>
        <contest-edit-dialog></contest-edit-dialog>
        <el-col :span="20" :offset="2">
            <el-button @click="getOjStat"  icon="el-icon-refresh" style="float: right;margin-bottom: 22px;">
            </el-button>
            <el-table
                    :data="ojStatList"
                    v-loading="ojStatListLoading"
                    :row-class-name="tableRowClassName"
                    >
                <el-table-column prop="OjType" label="OJ" align="center" :resizable="false">
                </el-table-column>
                <el-table-column prop="OnlineSum" label="在线" align="center" :resizable="false">
                </el-table-column>
                <el-table-column prop="BusySum" label="Judging" align="center" :resizable="false">
                </el-table-column>
                <el-table-column prop="OfflineSum" label="离线" align="center" :resizable="false">
                </el-table-column>
            </el-table>
        </el-col>
    </section>
</template>

<script>
    import axios from 'axios';
    import util from "../common/util"
    import Home from "./Home.vue"

    export default {
        data() {
            return {
                ojStatListLoading: false,
                ojStatList: null,
            };
        },
        methods: {
            getOjStat() {
                var _this = this;
                _this.ojStatListLoading = true;
                _this.listLoading = true;
                axios.post(_this.globalContext.rootPath + '/api/ojs_stat', {
                }).then(function(rsp) {
                    _this.ojStatList = rsp.data;
                    _this.ojStatListLoading = false;
                }).catch(function (error) {
                    _this.ojStatListLoading = false;
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            tableRowClassName({row, rowIndex}) {
                if (!row.IsLogin) {
                    return 'error-row';
                } else if (row.IsBusy) {
                    return 'warning-row';
                } else {
                    return 'success-row';
                }
            }
        },
        mounted() {
            this.getOjStat();
        },
        props: {
            globalContext: null
        }
    }

</script>

<style lang="scss" scoped>
    .login-container {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin: auto;
        margin-top: 70px;
        width: 350px;
        padding: 35px 35px 15px 35px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
        .title {
            margin: 0px auto 40px auto;
            text-align: center;
            color: #505458;
        }
        .remember {
            margin: 0px 220px 35px 0px;
        }
    }
</style>
<style>
</style>