<template>
    <section>
        <!--工具条-->
        <el-col :span="20" :offset="2">
            <el-col :span="20" class="toolbar" style="padding-bottom: 0px;">
                <el-form :inline="true" :model="filters">
                    <el-form-item>
                        <el-select v-model="filters.oj" @change="filter">
                            <el-option label="All" value="all"></el-option>
                            <el-option v-for="option in globalContext.ojsOptions" :label="option.Label" :value="option.Value"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="filters.search" placeholder="Title/ProblemID" @change="filter"></el-input>
                    </el-form-item>
                    <el-button @click="getProblems"  icon="el-icon-refresh">
                    </el-button>
                </el-form>
            </el-col>
            <el-col :span="4">
                <el-button @click="createProblem" style="float:right" type="success" icon="el-icon-circle-plus">
                    Create
                </el-button>
            </el-col>
            <!--列表-->
            <el-table
                    stripe
                    :data="problems"
                    v-loading="listLoading"
                    :border="true"
                    row-class-name="row-tighten">
                <el-table-column prop="Oj" label="OJ" width="100" align="center" :resizable="false" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="RemoteProblemId" label="Problem ID" width="100" align="center" :resizable="false" :show-overflow-tooltip="true">
                    <template slot-scope="scope">
                        <el-button type="text" @click="$router.push(globalContext.rootPath+'/problem?id='+scope.row.Id)">{{ scope.row.RemoteProblemId }}</el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="Title" label="Title" align="center" min_width="100" :resizable="false" :show-overflow-tooltip="true">
                    <template slot-scope="scope">
                        <el-button type="text" @click="$router.push(globalContext.rootPath+'/problem?id='+scope.row.Id)">{{ scope.row.Title }}</el-button>
                        <el-button round plain v-if="globalContext.id > 0 && scope.row.Author == globalContext.id" @click="edit_problem(scope.row.Id)" type="warning" icon="el-icon-edit" size="mini"></el-button>
                        <div v-if="globalContext.id > 0 && scope.row.Author == globalContext.id" style="display:inline">
                            <div v-if="scope.row.Public" class="noselect" style="display:inline;background-color: #67c23a;color:white;border-radius: 20px;padding: 1px 8px;font-size:12px;">
                                Public
                            </div>
                            <div v-else class="noselect" style="display:inline;background-color: #f56c6c;color:white;border-radius: 20px;padding: 1px 8px;font-size:12px;">
                                Private
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="UpdateTime"
                        label="Update Time"
                        :width="110"
                        align="center"
                        :resizable="false">
                    <template slot-scope="scope">
                        <el-tooltip
                                :enterable="false"
                                class="item"
                                effect="dark"
                                :content="scope.row.UpdateTime" placement="top">
                            <div style="white-space: nowrap">
                                <span>{{ globalContext.getRelativeString(new Date(scope.row.UpdateTime.replace(/\-/g, "/")).valueOf()) }}</span>
                            </div>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <!--工具条-->
            <el-col :span="24" class="toolbar" style="padding-top: 1em">
                <el-pagination
                        layout="prev, pager, next"
                        @current-change="handleCurrentChange"
                        :page-size="15"
                        :total="total"
                        style="float:right;"
                        :current-page="page">
                </el-pagination>
            </el-col>
        </el-col>
        <el-dialog :title="create_problem_dialog_title"
                   :visible.sync="showCreateDialog"
                   :fullscreen="true"
                   @open="initEditor"
                   custom-class="create-problem-dialog">
            <el-form>
                <el-form-item label="Title">
                    <el-input v-model="create_problem_data.title" auto-complete="off"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="11">
                        <span>Memory Limit(MB)</span>
                        <el-input-number v-model="create_problem_data.mem_limit" auto-complete="off" :max="512">
                        </el-input-number>
                    </el-col>
                    <el-col :span="11" :offset="1">
                        <span>Time Limit(second)</span>
                        <el-input-number v-model="create_problem_data.time_limit" auto-complete="off" :min="1" :max="10">
                        </el-input-number>
                    </el-col>
                </el-row>
                <el-form-item>
                    <el-switch
                            v-model="create_problem_data.public"
                            active-text="Public"
                            inactive-text="Private">
                    </el-switch>
                </el-form-item>
                <el-collapse v-model="create_problem_activeNames">
                    <el-collapse-item title="Description" name="description">
                        <el-input id="description-editor" type="textarea" :autosize="{ minRows: 6}" resize="vertical"></el-input>
                    </el-collapse-item>
                    <el-collapse-item title="Input" name="input">
                        <el-input id="input-editor" type="textarea" :autosize="{ minRows: 6}" resize="vertical"></el-input>
                    </el-collapse-item>
                    <el-collapse-item title="Output" name="output">
                        <el-input id="output-editor" type="textarea" :autosize="{ minRows: 6}" resize="vertical"></el-input>
                    </el-collapse-item>
                    <el-collapse-item title="Sample Input" name="sample_input">
                        <el-input v-model="create_problem_data.sample_input" type="textarea" :autosize="{ minRows: 6}" resize="vertical"></el-input>
                    </el-collapse-item>
                    <el-collapse-item title="Sample Output" name="sample_output">
                        <el-input v-model="create_problem_data.sample_output" type="textarea" :autosize="{ minRows: 6}" resize="vertical"></el-input>
                    </el-collapse-item>
                    <el-collapse-item title="Hint" name="hint">
                        <el-input id="hint-editor" type="textarea" :autosize="{ minRows: 6}" resize="vertical"></el-input>
                    </el-collapse-item>
                    <el-collapse-item title="Upload Judge Data" name="upload_data">
                        <el-upload
                                class="upload-demo"
                                drag
                                ref="create_problem_upload"
                                :action="globalContext.rootPath + '/api/upload_judge_data'"
                                :on-success="uploaded"
                                :file-list="create_problem_filelist"
                                list-type="text"
                                :limit="10"
                                accept="in"
                                multiple>
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__tip" slot="tip">只能上传data.in/data.out文件<br><div style="color: red">另特别注意：linux和windows下的文本换行符不一样（LF、CRLF），由于服务器是windows系统，所以在编辑测试数据时最好使用windows系统编辑，或者将换行符转换为CRLF。</div></div>
                        </el-upload>
                    </el-collapse-item>
                </el-collapse>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="showCreateDialog = false">取 消</el-button>
                <el-button type="primary" @click="createEditProblemSubmit" :loading="create_problem_loading">确 定</el-button>
            </div>
        </el-dialog>
    </section>
</template>
<script>
    import util from '../common/util'
    import axios from 'axios'

    export default {
        data() {
            return {
                filters: {
                    oj: this.$route.query.oj == null ? "all" : this.$route.query.oj,
                    search: this.$route.query.search == null ? "" : this.$route.query.search
                },
                problems: [],
                total: 0,
                page: this.$route.query.pageid == null ? 1 : parseInt(this.$route.query.pageid),
                listLoading: false,

                showCreateDialog: false,
                create_problem_dialog_title: "",

                create_problem_activeNames: [],
                create_problem_filelist: [],

                create_problem_loading: false,
                create_problem_data: {
                    id: 0,
                    time_limit: 1,
                    mem_limit: 256,
                    public: false,
                    title: "",
                    description: "",
                    input: "",
                    output: "",
                    sample_input: "",
                    sample_output: "",
                    hint: "",
                    action: "",
                    dataInTime: "",
                    dataOutTime: "",
                }
            }
        },
        methods: {
            edit_problem(pid) {
                if(this.$refs.create_problem_upload) {
                    this.$refs.create_problem_upload.clearFiles();
                }
                var _this = this;
                _this.create_problem_dialog_title = "Edit Problem - "+pid;
                axios.post(_this.globalContext.rootPath + '/api/problem_detail', {
                    id: pid
                }).then(function(rsp) {
                    function limitStrToInt(str) {
                        str = str.replace(/[a-zA-Z].*/,"");
                        return parseInt(str)
                    }
                    if(rsp.data.success) {
                        _this.create_problem_data.id = pid;_this.create_problem_data.title = rsp.data.title;
                        _this.create_problem_data.public = rsp.data.public;
                        _this.create_problem_data.time_limit = limitStrToInt(rsp.data.time_limit);
                        _this.create_problem_data.mem_limit = limitStrToInt(rsp.data.mem_limit);
                        _this.create_problem_data.description = rsp.data.description;
                        _this.create_problem_data.input = rsp.data.input;
                        _this.create_problem_data.sample_input = rsp.data.sample_input;
                        _this.create_problem_data.output = rsp.data.output;
                        _this.create_problem_data.sample_output = rsp.data.sample_output;
                        _this.create_problem_data.hint = rsp.data.hint;
                        _this.create_problem_data.action = "edit";
                        _this.create_problem_data.dataInTime = "";
                        _this.create_problem_data.dataInTime = "";
                        _this.showCreateDialog = true;
                    } else {
                        _this.$message({
                            message: rsp.data.msg,
                            type: "error"
                        })
                    }
                }).catch(function(error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            uploaded(rsp, file, filelist) {
                if(rsp.needlogin) {
                    this.globalContext.isLogin = false;
                    this.globalContext.showLoginDialog = true;
                }
                if(!rsp.success) {
                    this.$refs.create_problem_upload.abort();
                    this.$refs.create_problem_upload.clearFiles();
                    this.$message.error(rsp.msg);
                } else {
                    if(rsp["data.in"]) this.create_problem_data.dataInTime = rsp["data.in"];
                    if(rsp["data.out"]) this.create_problem_data.dataOutTime = rsp["data.out"];
                    var len = filelist.length;
                    for(var i=0;i<len;i++) {
                        if(filelist[i].name == file.name && filelist[i].response != file.response) {
                            //alert("aaa");
                            filelist.splice(i,1);
                            len--;
                        }
                    }
                }
            },
            createProblem() {
                var _this = this;
                _this.create_problem_dialog_title = "Create problem";
                _this.showCreateDialog = true;
                _this.create_problem_data.id = 0;
                _this.create_problem_data.title = "";
                _this.create_problem_data.public = false;
                _this.create_problem_data.mem_limit = 256;
                _this.create_problem_data.time_limit = 1;
                _this.create_problem_data.description = "";
                _this.create_problem_data.input = "";
                _this.create_problem_data.output = "";
                _this.create_problem_data.sample_input = "";
                _this.create_problem_data.sample_output = "";
                _this.create_problem_data.hint = "";
                _this.create_problem_data.action = "create";
                _this.create_problem_data.dataInTime = "";
                _this.create_problem_data.dataOutTime = "";
                if(_this.$refs.create_problem_upload) {
                    _this.$refs.create_problem_upload.clearFiles();
                }
            },
            createEditProblemSubmit() {
                var _this = this;
                _this.create_problem_loading = true;
                axios.post(_this.globalContext.rootPath + '/api/edit_problem',
                    _this.create_problem_data
                ).then(function(rsp) {
                    if(rsp.data.needlogin) {
                        _this.globalContext.isLogin = false;
                        _this.globalContext.showLoginDialog = true;
                    } else if(!rsp.data.success) {
                        _this.$message.error(rsp.data.msg);
                    } else {
                        _this.$message.success("success!");
                        _this.filters.oj = "all";
                        _this.filters.search = "";
                        _this.filter();
                        _this.getProblems();
                        _this.showCreateDialog = false;
                    }
                    _this.create_problem_loading = false;
                    _this.$refs.create_problem_upload.clearFiles();
                    _this.create_problem_data.dataInTime = "";
                    _this.create_problem_data.dataOutTime = "";
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    });
                    _this.create_problem_loading = false;
                });
            },
            handleCurrentChange(val) {
                this.page = val;
                util.queryString.push("pageid", val);
                this.getProblems();
            },
            filter() {
                util.queryString.push("oj", this.filters.oj);
                util.queryString.push("search", this.filters.search);
                this.getProblems();
            },
            getProblems() {
                var _this = this;
                _this.listLoading = true;
                axios.post(_this.globalContext.rootPath + '/api/problems_list', {
                    page: this.page,
                    offset: 15 * (this.page-1),
                    limit: 15,
                    oj: this.filters.oj,
                    search: this.filters.search,
                }).then(function(rsp) {
                    _this.total = rsp.data.total;
                    _this.problems = rsp.data.problems;
                    _this.listLoading = false;
                }).catch(function (error) {
                    _this.$message({
                        message: error,
                        type: "error"
                    })
                });
            },
            initEditor() {
                var _this = this;
                if(tinymce.editors.length > 0) {
                    window.description_editor.setContent(_this.create_problem_data.description);
                    window.input_editor.setContent(_this.create_problem_data.input);
                    window.output_editor.setContent(_this.create_problem_data.output);
                    window.hint_editor.setContent(_this.create_problem_data.hint);
                    return
                }
                console.log("init Editors");
                function init(selector,height) {
                    tinymce.init({
                        target: document.querySelector(selector),
                        height: height,
                        theme: 'modern',
                        plugins: 'image emoticons print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
                        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | codesample | emoticons | image | media | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
                        image_advtab: true,
                        templates: [
                            { title: 'Test template 1', content: 'Test 1' },
                            { title: 'Test template 2', content: 'Test 2' }
                        ],
                        images_upload_url: "/pic_upload",
                        setup: (editor)=> {
                            // 初次化编辑器
                            editor.on('change', ()=>{
                                switch(selector) {
                                    case "#description-editor":
                                        _this.create_problem_data.description = editor.getContent();
                                        break;
                                    case "#input-editor":
                                        _this.create_problem_data.input = editor.getContent();
                                        break;
                                    case "#output-editor":
                                        _this.create_problem_data.output = editor.getContent();
                                        break;
                                    case "#hint-editor":
                                        _this.create_problem_data.hint = editor.getContent();
                                        break;
                                }
                            });
                            editor.on('Init', ()=>{
                                switch(selector) {
                                    case "#description-editor":
                                        window.description_editor = editor;
                                        _this.$nextTick(function(){
                                            window.description_editor.setContent(_this.create_problem_data.description);
                                        });
                                        break;
                                    case "#input-editor":
                                        window.input_editor = editor;
                                        _this.$nextTick(function(){
                                            window.input_editor.setContent(_this.create_problem_data.input);
                                        });
                                        break;
                                    case "#output-editor":
                                        window.output_editor = editor;
                                        _this.$nextTick(function(){
                                            window.output_editor.setContent(_this.create_problem_data.output);
                                        });
                                        break;
                                    case "#hint-editor":
                                        window.hint_editor = editor;
                                        _this.$nextTick(function(){
                                            window.hint_editor.setContent(_this.create_problem_data.hint);
                                        });
                                        break;
                                }
                            });
                        }
                    });
                }
                this.$nextTick(function() {
                    init('#description-editor',500);
                    init('#input-editor',200);
                    init('#output-editor',200);
                    init('#hint-editor',150);
                });
            }
        },
        mounted() {
            this.getProblems();
        },
        props: {
            globalContext: null
        }
    }

</script>

<style scoped>
</style>

<style>
    .create-problem-dialog{
        border-radius: 0;
    }
</style>