<template>
    <section>
        <div class="background"></div>
        <div @mousemove="separatorMove" @mouseup="separatorPressing = false">
            <problem-detail-pane
                    :style="problemStyle"
                    v-bind:id="id"
                    ref="problem_detail_pane"
                    :globalContext="globalContext"
                    v-on:mouseover.native="problemCanSelect"
                    v-on:mouseout.native="problemCanNotSelect"
                    v-on:loaded="problemLoaded()"
            />
            <div v-bind:style="separatorEditorStyle">
                <div class="editor-title">
                    <el-button style="float:left;margin-top: 4.5px;margin-left: 8px;margin-right: 8px;"
                               class="submit-btn" type="primary" v-on:click="submit" v-bind:disabled="judging"
                               size="medium">Submit
                    </el-button>
                    <div style="float:left;margin-top: 12px;margin-left: 8px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"
                         v-bind:class="{'status-class-accept':judging_status_code==1,'status-class-judging':judging_status_code!=1,'status-class-deny':!judging && judging_status_code!=1}">
                        <div v-if="judging_status_code==3" @click="showCEInfoDialog=true" class="CE_btn">
                            {{ judging_msg }}
                        </div>
                        <div v-else>
                            {{ judging_msg }}
                        </div>
                    </div>
                    <i v-if="judging" class="el-icon-loading"
                       style="float:left;margin-top: 15px;margin-left: 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"
                       v-bind:class="{'status-class-accept':judging_status_code==1,'status-class-judging':judging_status_code!=1,}"></i>
                    <i v-else-if="judging_status_code==1" class="el-icon-check"
                       style="float:left;margin-top: 15px;margin-left: 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"
                       v-bind:class="{'status-class-accept':judging_status_code==1,'status-class-judging':judging_status_code!=1,}"></i>
                    <i v-else-if="judging_msg.length > 0" class="el-icon-close status-class-deny"
                       style="float:left;margin-top: 15px;margin-left: 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></i>
                    <div :style="language_select_style">
                        <el-select v-model="language" size="medium" @change="languageChange" placeholder="">
                            <el-option
                                    v-for="(value, key) in language_options"
                                    :key="key"
                                    :label="value.Label"
                                    :value="key">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="separator" @mousedown.left="separatorPressing = true"></div>
                <div class="editor">
                    <editor v-model="code" @init="editorInit" theme="twilight" width="100%" height="100%"
                            style="font-size:12px;"></editor>
                </div>
            </div>
            <el-dialog
                    :visible.sync="showCEInfoDialog"
                    title="Compilation Error"
                    :modal="true"
                    width="60%"
                    custom-class="compilation-error-dialog">
                <div style="overflow:auto;" class="compilation-error-dialog-text">
                    <pre>{{ CEInfo }}</pre>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="showCEInfoDialog = false" type="danger" size="medium" style="width:100%;">Close
                    </el-button>
                </div>
            </el-dialog>
        </div>
    </section>
</template>
<script>
    import util from '../common/util'
    import axios from 'axios';


    export default {
        data() {
            return {
                problemStyle: {
                    position: "fixed",
                    left: "0px",
                    top: "50px",
                    bottom: "0px",
                    width: document.documentElement.clientWidth / 2 + "px",
                    "overflow": "auto",
                    "user-select": "text",
                },
                separatorEditorStyle: {
                    position: "fixed",
                    top: "50px",
                    bottom: "0px",
                    right: "0px",
                    left: document.documentElement.clientWidth / 2 + "px"
                },
                cardBodyStyle: {
                    padding: '12px'
                },
                language_select_style: {
                    "top": "54.5px",
                    "right": "8px",
                    "position": "fixed",
                },


                id: this.$route.query.id == null ? 0 : parseInt(this.$route.query.id),

                code: "",

                judging: false,

                judging_msg: "",
                judging_status_code: 0,
                show_dialog: false,

                language_options: {},
                language: null, //当前选中的language

                separatorPressing: false,

                editor: null,
                last_time_save: null,
                CEInfo: "",
                showCEInfoDialog: false,
            }
        },
        methods: {
            problemCanSelect() {
                if (this.separatorPressing) return;
                this.problemStyle["user-select"] = "text";
            },
            problemCanNotSelect() {
                this.problemStyle["user-select"] = "none";
            },
            separatorMove(event) {
                if (!this.separatorPressing) return;
                var e = event || window.event;
                if (e.clientX < document.documentElement.clientWidth / 4) return;
                else if (e.clientX > document.documentElement.clientWidth * 3 / 4) return;
                this.problemStyle.width = e.clientX + "px";
                this.separatorEditorStyle.left = e.clientX + "px";
            },
            showEditor() {
                this.sideStyle.display = "none";
                this.editorStyle.display = "block";
                this.left_col = 10;
            },
            hideEditor() {
                this.sideStyle.display = "block";
                this.editorStyle.display = "none";
                this.left_col = 18;
            },
            submit() {
                var _this = this;
                _this.judging = true;
                _this.show_dialog = false;
                _this.judging_msg = "Waiting";
                _this.judging_status_code = 20;
                if ("WebSocket" in window) {
                    // 打开一个 web socket
                    var ws = new WebSocket("ws://" + window.location.host + _this.globalContext.rootPath + "/api/ws/submit_code");

                    ws.onopen = function () {
                        let parm = {
                            "localPid": _this.id,
                            "code": _this.code,
                            "languageCode": _this.language
                        }

                        ws.send(JSON.stringify(parm));
                    };

                    ws.onmessage = function (evt) {
                        let m = JSON.parse(evt.data);
                        if (m.ErrorMessage) {
                            if (m.ErrorMessage == "needlogin") {
                                _this.globalContext.isLogin = false;
                                _this.globalContext.showLoginDialog = true;
                            } else {
                                _this.$message.error(m.ErrorMessage);
                            }
                            _this.judging_msg = "";
                            return
                        }
                        _this.judging_msg = m.Status;
                        _this.judging_status_code = m.StatusCode;
                        if (m.StatusCode == 3) { //编译错误
                            const h = _this.$createElement;
                            _this.showCEInfoDialog = true;
                            _this.CEInfo = m.AdditionalMessage;
                        }
                    };

                    ws.onclose = function () {
                        _this.judging = false;
                    };

                    ws.onerror = function () {
                        _this.judging_msg = "System Error";
                        _this.judging_status_code = 10;
                        _this.judging = false;
                    };
                }
                else {
                    alert("您的浏览器不支持 WebSocket!");
                }
            },
            languageChange(value) {
                this.editor.session.setMode("ace/mode/" + this.language_options[value].Editor);
                localStorage.setItem("editor_mode_" + this.id, this.language);
            },
            editorInit(editor) {
                require('brace/ext/language_tools');
                require('brace/mode/c_cpp');
                require('brace/mode/html');
                require('brace/mode/java');
                require('brace/mode/csharp');
                require('brace/mode/pascal');
                require('brace/theme/twilight');
                this.editor = editor;
            },
            saveCode() {
                localStorage.setItem("offline_code_" + this.id, this.code);
            },
            readCode() {
                if (typeof(localStorage.getItem("offline_code_" + this.id)) != "string") {
                    this.code = "";
                } else {
                    this.code = localStorage.getItem("offline_code_" + this.id);
                }
            },
            problemLoaded() {
                var _this = this;
                _this.language_options = _this.$refs.problem_detail_pane.language_options;
                if(typeof(localStorage.getItem("editor_mode_"  + _this.id)) == "string") {
                    _this.language = localStorage.getItem("editor_mode_"  + _this.id)
                } else {
                    for (var k in _this.language_options) {
                        _this.language = k;//遍历key
                        break;
                    }
                }
                _this.editor.session.setMode("ace/mode/" + _this.language_options[_this.language].Editor);
            }
        },
        mounted() {
            var _this = this;
            _this.readCode();
            _this.editor.session.on('change', _this.saveCode);
        },
        components: {
            editor: require('vue2-ace-editor'),
        },
        props: {
            globalContext: null
        }
    }

</script>

<style scoped>
    .status-class-judging {
        color: rgba(189, 184, 0, 0.88);
        font-weight: bold;
    }

    .status-class-accept { /* Accepted */
        color: rgb(0, 255, 9);
        font-weight: bold;
    }

    .status-class-deny { /* Accepted */
        color: rgba(255, 65, 0, 0.79);
        font-weight: bold;
    }

    .separator {
        background-color: #DADADA;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 8px;
        left: 0;
    }

    .separator:hover {
        cursor: move;
        background: #AAA;
    }

    .editor {
        position: absolute;
        left: 8px;
        right: 0;
        top: 45px;
        bottom: 0px;
        display: block;
    }

    .editor-title {
        position: absolute;
        left: 8px;
        right: 0;
        top: 0;
        height: 45px;
        background-color: #141414;
        display: block;
    }

    .editor-bottom {
        position: absolute;
        left: 8px;
        right: 0;
        bottom: 0;
        height: 150px;
        background-color: #141414;
        display: block;
    }

    .background {
        background-color: white;
        position: fixed;
        top: 50px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .CE_btn:hover {
        color: #ff0001;
        cursor: pointer;
    }
</style>
<style>
    .compilation-error-dialog {
        background-color: rgb(255, 255, 255);
    }

    .compilation-error-dialog-title {
        color: #ff0500;
        font-size: 20px;
    }

    .compilation-error-dialog-text {
        padding-left: 20px;
        color: #ff3900;
        border: 1px solid #ebeef5;
        border-radius: .5em;
    }

    p {
        margin: 4px;
    }

</style>
