<template>
    <section>
        <div v-loading="problem_loading" element-loading-text="Loading...">
            <div style="margin-left: 10px;margin-right: 10px;margin-bottom: 60px;" v-bind:hidden="problem_loading">
                <h1 align="center" v-html="title" style="font-size: 20px;margin-bottom: 2px;" class="title-fineoj"></h1>
                <div class="limit-block" align="center">
                    <div>Memory Limit: <span v-html="mem_limit"></span></div>
                    <div>Time Limit: <span v-html="time_limit"></span></div>
                </div>
                <div>
                    <div>
                        <h2 class="title-fineoj">Description</h2>
                        <el-card class="box-card" :body-style="cardBodyStyle">
                            <div v-html="description"></div>
                        </el-card>
                    </div>
                    <div v-bind:hidden="input.length == 0">
                        <h2 class="title-fineoj">Input</h2>
                        <el-card class="box-card" :body-style="cardBodyStyle">
                            <div v-html="input"></div>
                        </el-card>
                    </div>
                    <div v-bind:hidden="output.length == 0">
                        <h2 class="title-fineoj">Output</h2>
                        <el-card class="box-card" :body-style="cardBodyStyle">
                            <div v-html="output"></div>
                        </el-card>
                    </div>
                    <div v-bind:hidden="sample_input.length == 0">
                        <h2 class="title-fineoj">Sample Input</h2>
                        <el-card class="box-card" :body-style="cardBodyStyle">
                            <pre v-html="sample_input" class="pre-style"></pre>
                        </el-card>
                    </div>
                    <div v-bind:hidden="sample_output.length == 0">
                        <h2 class="title-fineoj">Sample Output</h2>
                        <el-card class="box-card" :body-style="cardBodyStyle">
                            <pre v-html="sample_output" class="pre-style"></pre>
                        </el-card>
                    </div>
                    <div v-bind:hidden="hint.length == 0">
                        <h2 class="title-fineoj">Hint</h2>
                        <el-card class="box-card" :body-style="cardBodyStyle">
                            <div v-html="hint"></div>
                        </el-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import util from '../common/util'
    import axios from 'axios';

    export default {
        data() {
            return {
                cardBodyStyle: {
                    padding: '12px'
                },

                title: "",
                time_limit: "",
                mem_limit: "",
                description: "",
                input: "",
                sample_input: "",
                output: "",
                sample_output: "",
                hint: "",
                oj: "",
                remote_problem_id: "",
                language_options: {},
                problem_loading: true,
            }
        },
        methods: {
            setTitlePrefix(prefix) {
                const _this = this;
                _this.title = prefix + _this.title;
            },
            setProblem(p, options) {
                this.title = p.title ? p.title : "";
                if(options && options.title_prefix) {
                    this.title = options.title_prefix + this.title;
                }
                this.time_limit = p.time_limit ? p.time_limit : "";
                this.mem_limit = p.mem_limit ? p.mem_limit : "";
                this.description = p.description ? p.description : "";
                this.input = p.input ? p.input : "";
                this.sample_input = p.sample_input ? p.sample_input : "";
                this.output = p.output ? p.output : "";
                this.sample_output = p.sample_output ? p.sample_output : "";
                this.hint = p.hint ? p.hint : "";
            },
            getProblemByID(id) {
                var _this = this;
                if(id) _this.id = id;
                _this.problem_loading = true;
                axios.post(_this.globalContext.rootPath + '/api/problem_detail', {
                    id: _this.id
                }).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.title = rsp.data.title;
                        _this.time_limit = rsp.data.time_limit;
                        _this.mem_limit = rsp.data.mem_limit;
                        _this.description = rsp.data.description;
                        _this.input = rsp.data.input;
                        _this.sample_input = rsp.data.sample_input;
                        _this.output = rsp.data.output;
                        _this.sample_output = rsp.data.sample_output;
                        _this.hint = rsp.data.hint;
                        _this.language_options = rsp.data.language_options;
                        _this.oj = rsp.data.oj;
                        _this.remote_problem_id = rsp.data.remote_problem_id;
                        _this.problem_loading = false;
                        _this.$nextTick(function () {
                            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                            Prism.highlightAll();
                        });
                        _this.$emit('loaded', _this);
                    } else {
                        _this.$message({
                            message: rsp.data.msg,
                            type: "error"
                        })
                    }
                })
            },
        },
        mounted() {
            var _this = this;
            if (_this.id > 0) _this.getProblemByID();
            else _this.problem_loading = false;
        },
        props: {
            id: 0,
            globalContext: null,
        },
        watch: {
            id: function (val) {
                this.getProblemByID(val);
            },
        }
    }
</script>

<style scoped>
    .title-fineoj {
        color: #3a8ee6;
        margin-top: 18px;
        margin-bottom: 4px;
    }

    h2.title-fineoj {
        font-size: 18px !important;
    }

    h1.title-fineoj {
        font-size: 25px !important;
    }

    .pre-style {
        margin: 0;
    }

    .limit-block {
        font-size: 1px;
        color: #5d5d5d;
    }
</style>

<style>
    /*cf加粗*/
    .tex-font-style-bf {
        font-weight: bold;
    }
</style>