<template>
    <section>
        <el-dialog
                title="Source Code"
                :visible.sync="show_sc_code"
                width="60%">
            <pre><code v-bind:class="sc_code_class" v-html="sc_code"></code></pre>
        </el-dialog>


        <el-row>
            <!--工具条-->
            <el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
                <el-form :inline="true" :model="filters">
                    <el-form-item>
                        <el-select v-model="filters.oj">
                            <el-option label="All" value="all"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="filters.search" placeholder="Title/ProblemID"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" v-on:click="filter">Filter</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <!--列表-->
            <div id="status-table">
                <el-table
                        stripe
                        row-class-name="row-tighten"
                        :data="statusList"
                        v-loading="listLoading"
                        border>
                    <el-table-column prop="Id" :show-overflow-tooltip="true" label="RunID" width="80" align="center"
                                     :resizable="false">
                    </el-table-column>
                    <el-table-column prop="ProblemId" :show-overflow-tooltip="true" label="ProblemID" width="90"
                                     align="center" :resizable="false">
                        <template slot-scope="scope">
                            <el-button
                                    v-if="contest_id > 0"
                                    type="text"
                                    @click="globalContext.showProblemDetail(scope.row.ContestProblemIndex)">
                                {{ globalContext.getLetter(scope.row.ContestProblemIndex) }}
                            </el-button>
                            <el-button
                                    v-else
                                    type="text" @click="$router.push(globalContext.rootPath+'/problem?id='+scope.row.ProblemId)">{{
                                scope.row.ProblemId }}
                            </el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Username" :show-overflow-tooltip="true" label="Author"
                                     align="center" :resizable="false">
                    </el-table-column>
                    <el-table-column
                            prop="Status"
                            label="Status"
                            align="center"
                            min-width="100"
                            :show-overflow-tooltip="true"
                            :resizable="false">
                        <template slot-scope="scope">
                            <span v-bind:class="'status-class status-class-'+scope.row.StatusCode">{{ scope.row.Status }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="ExeTime" :show-overflow-tooltip="true" label="Exe.Time" width="90"
                                     align="center" :resizable="false">
                        <template slot-scope="scope">
                            {{ scope.row.ExeTime.length > 0 ? scope.row.ExeTime : "0MS" }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="ExeMem" :show-overflow-tooltip="true" label="Exe.Mem" width="90"
                                     align="center" :resizable="false">
                        <template slot-scope="scope">
                            {{ scope.row.ExeMem.length > 0 ? scope.row.ExeMem : "0K" }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="CodeLength" :show-overflow-tooltip="true" label="Code Len." width="90"
                                     align="center" :resizable="false">
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.Username == globalContext.username" type="text"
                                       @click="showSC(scope.row.Id, scope.row.Language)">{{ scope.row.CodeLength }}B
                            </el-button>
                            <span v-else>{{ scope.row.CodeLength }}B</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Language" :show-overflow-tooltip="true" label="Language" width="90"
                                     align="center" :resizable="false">
                    </el-table-column>
                    <el-table-column
                            prop="SubmitTime"
                            label="Submit Time"
                            align="center"
                            :width="110"
                            :resizable="false">
                        <template slot-scope="scope">
                            <el-tooltip
                                    :enterable="false"
                                    class="item"
                                    effect="dark"
                                    :content="(new Date(scope.row.SubmitTime)).format('yyyy-MM-dd hh:mm:ss')" placement="top">
                                <div style="white-space: nowrap">
                                    <span>{{ globalContext.getRelativeString(scope.row.SubmitTime) }}</span>
                                </div>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <!--工具条-->
            <el-col :span="24" class="toolbar" style="padding-top: 1em">
                <el-pagination
                        layout="prev, pager, next"
                        @current-change="handleCurrentChange"
                        :page-size="page_size"
                        :total="total"
                        style="float:right;"
                        :current-page="page">
                </el-pagination>
            </el-col>
        </el-row>
    </section>
</template>
<script>
    import util from '../common/util'
    import axios from 'axios'

    export default {
        data() {
            return {
                filters: {
                    oj: this.$route.query.oj == null ? "all" : this.$route.query.oj,
                    search: this.$route.query.search == null ? "" : this.$route.query.search
                },
                statusList: [],
                total: 0,
                listLoading: false,
                page: this.contest_id > 0 ? 1 : (this.$route.query.pageid == null ? 1 : parseInt(this.$route.query.pageid)),
                page_size: 10,
                show_sc_code: false,
                sc_code: "",
                sc_code_class: "language-cpp",
            }
        },
        methods: {
            showSC(solution_id, language) {
                let _this = this;
                _this.sc_code = "";
                _this.listLoading = true;
                let mode = "";
                axios.post(_this.globalContext.rootPath + '/api/sc_code', {
                    solutionId: solution_id
                }).then(function (rsp) {
                    if (rsp.data.success) {
                        _this.sc_code = util.HTMLEncode(rsp.data.sc_code);
                        _this.show_sc_code = true;
                        switch (language) {
                            case "G++":
                                _this.sc_code_class = "language-cpp";
                                break;
                        }
                        _this.$nextTick(function () {
                            Prism.highlightAll();
                        });
                    }
                    _this.listLoading = false;
                }).catch(function (error) {
                    _this.$message({
                        message: "请检查网络连接：" + error,
                        type: "error"
                    });
                    _this.listLoading = false;
                });
            },
            handleCurrentChange(val) {
                this.page = val;
                if (this.contest_id > 0) {
                    util.queryString.push("pageid", val);
                }
                this.getStatus();
            },
            filter() {
                util.queryString.push("oj", this.filters.oj);
                util.queryString.push("search", this.filters.search);
                this.getStatus();
            },
            getStatus() {
                var _this = this;
                _this.listLoading = true;
                axios.post(_this.globalContext.rootPath + '/api/status_list', {
                    page: _this.page,
                    offset: _this.page_size * (_this.page - 1),
                    limit: _this.page_size,
                    oj: _this.filters.oj,
                    contest_id: _this.contest_id
                }).then(function (rsp) {
                    _this.total = rsp.data.total;
                    _this.statusList = rsp.data.status;
                    _this.listLoading = false;
                }).catch(function (error) {
                    _this.$message({
                        message: "请检查网络连接：" + error,
                        type: "error"
                    })
                });
            },
        },
        mounted() {
            this.getStatus();
        },
        props: {
            globalContext: null,
            contest_id: 0,
        },
        watch: {},
    }

</script>

<style scoped>

    .status-class {
        color: green;
        font-weight: bold;
    }

    .status-class-1 { /* Accepted */
        color: red;
    }

    .status-class-8 { /* Presentation Error */
        color: rgb(255, 165, 0);
    }

    .sc-code textarea {
        color: red;
    }
</style>

<style>
</style>