<template>
    <section>
        <el-col :span="20" :offset="2">
            <status-pane :globalContext="globalContext">
            </status-pane>
        </el-col>
    </section>
</template>
<script>
    import util from '../common/util'
    import axios from 'axios'
    import Vue from "vue"
    import StatusPane from './StatusPane.vue'

    Vue.component("status-pane", StatusPane);

    export default {
        data() {
            return {
                filters: {
                    oj: this.$route.query.oj == null ? "all" : this.$route.query.oj,
                    search: this.$route.query.search == null ? "" : this.$route.query.search
                },

            }
        },
        methods: {},
        mounted() {
        },
        props: {
            globalContext: null
        }
    }

</script>

<style scoped>
</style>